:root {
  --dark-blue: #2D3142;
  --gray: #BFC0C0;
  --white: #FFFFFF;
  --orange: #EF8354;
  --light-blue: #4F5D75;
}

body {
  background-color: var(--white);
}

.top-bar, .sign-tile {
  background-color: var(--dark-blue);
}

a {
  color: var(--orange);
}

.tile-container {
  margin: 0 auto;
}

.workout-title {
  background-color: var(--light-blue);
  color: var(--white);
  padding :10px;
  margin: 15px;
  border-radius: 10px;
  width: 300px;
  height: 250px;
  border: 3px solid var(--orange);
}

.image-tile {
  width: 180px;
  height: 120px;
  display: block;
  margin: 0 auto;
}

.image-tile img {
  width: auto;
  height: auto;
}

.workout-tile-name, .workout-tile-difficulty {
  padding-top: 3px;
  text-align: center;
  overflow: auto;
}

.workout-image {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid var(--dark-blue);
  border-radius: 100px;
  width: 500px;
  height: 300px;
  overflow: auto;
}

.workout-image img {
  width: auto;
  height: auto;
}

.fade_bar {
  display:block;
  border:none;
  color:white;
  height:2px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(var(--dark-blue)), to(var(--gray)));
}

.workout-show-tile {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
}

.workout-description-tile, .workout-metrics-tile, .workout-types-tile {
  flex: auto;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  width: 100px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 10px;
  font-weight: bold;
}

.workout-instructions {
  display: block;
  border: none;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: pre-wrap;
}

.comment-tile {
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  background-color: var(--light-blue);
  max-width: 50%;
  border-radius: 5px;
  color: var(--gray);
  border:2px solid var(--dark-blue);
}

.comment-form {
  padding: 20px;
}

label {
  font-weight: bold;
  max-width: 50%;
  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.comment-text {
  max-width: 50%;
  margin: 10px;
  border:2px solid var(--dark-blue);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: var(--light-blue);
}

input[type=submit] {
  padding:5px 15px;
  background:var(--orange);
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.button {
  padding:5px 15px;
  background:var(--orange);
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.center{
    text-align: center;
}

.grid-cotainer {
  max-width: 100%;
  // max-height: 50%;
}
.weather {
  border-style: ridge;
  border-radius: 10px;
  width: 50%;
  height: 60%;
  margin: 0 auto;
  background-color: var(--light-blue);
  color: var(--orange);
  overflow: auto;
}

.weather-icon {
  height: 45%;
  float: left;
}

.weather-block {
  padding-top: 0 auto;
  padding-left: 8px;
  float: left;
  overflow: auto;
}
